@charset "UTF-8";
@import "style.scss";
@import url(‘https://fonts.googleapis.com/css2?family=jost:wght@400;500;600;700&display=swap`);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
  background-color: #232229;
  font-family: 'Jost', sans-serif;
}
.grid-container {
    display: flex;
    flex-direction: row;
    gap: 60%;  
  }

    #topLeft {
        padding: 30px;
        width: 300px;
        font-size: 20px;
        font-weight: medium;
        color: #FFFFFF
    }

        #reset {
            margin: 20px;
            height: 40px;
            width: 60px;
            font-size: 20px;
            font-weight: lighter;
            color: #FFFFFF;
            background-image: linear-gradient(180deg, #e1a0a0, #e58181);
            box-shadow: 0 10px 40px #6B3838;
            border-radius: 8%;
            padding: 4px;

        }
        #reset:hover {
            background-image: linear-gradient(180deg, #E2C1C1, #EA8282);
        }



.wrapper{
    display: flex;
    flex:wrap;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 30px;
    gap: 30px
}

h1 {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: large;
}

h2 {
  font-size: 24px;
  font-weight: medium;
  color: #FFFFFF
}

h3 {
  font-size: 16px;
  font-weight: bold;
  color: #6C7A7C
}

h4 {
  font-size: 16px;
  font-weight: normal;
}

.container {
    border: dashed;
  color: #6C7A7C;
  background-color:#2B2A33 ;
  padding: 20px;
  margin: 5px;
    gap: 5px;
    border-radius: 25%;
}
    input { 
        background-color: #2B2A33;
        width: 90%;
        height: 10%;
        padding: 10px;
        border: none;
    }
        .submit {
    background-color: #EA8282;
    color: black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;

        }