$primary-color: #232229;
$secondary-color: #2B2A33;
$tertiary-color: #6C6A7C;
$title-color: #FFFF;
$accents-color: #E58181;

//font weights
$normal-weight:   400;
$medium-weight:   500;
$semibold-weight: 600;
$bold-weight:     700;
